.SheetsSections {
  max-width: 1440px;
  margin: 50px auto 0 auto;
  padding: 0;
  gap: 32px;

  font-family: "YekanBakh";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 200%;

  text-align: justify;

  color: #282828;
}

.SheetsSections img {
  width: 100%;
  max-height: 739px;
}

.SheetsSections h2 {
  font-weight: 700;
  font-size: 20px;
  line-height: 31px;
}

@media only screen and (max-width: 1365px){
  .SheetsSections{
    padding: 0 50px;
  }

  .SheetsSections h2 {
    font-weight: 600;
  }

}
