.modal-dialog {
    margin: 0;
}

.modal-content {
    border-radius: 0;
    border: none;
}

.modal-header {
    border-bottom: none;
    justify-content: space-between;
}

.modal-header button{
    margin: 0 !important;
}

.modal-footer {
    border-top: none;
}

.modal-footer input{
}

.modal-footer button{
    padding: 4px 10px;
    margin-right: 10px;
    font-size: 14px;
}

.modal-title {
    margin-left: 0;
}
